{% extends "issues/base-public.html" %}

{% block content %}
    <div style = 'background:#dedede;margin:1em;padding:2em;'>
        <div align="center" style="font-size:18px;">  <strong>Petitions have closed.</strong></div>
    Petitions and Declarations of Intent
        closed at 5 PM on Friday, March 9. The Elections Commission is currently validating all petitions and will
        post updates at
        <a href="http://elections.stanford.edu">http://elections.stanford.edu</a>. GSC candidates may still declare intent.
    </div>

{% regroup issues|dictsort:"kind_sort" by kind_name as issues_list %}

{% for issue_kind in issues_list %}
    {% with issue_kind.list|first as first_issue %}
        {% include first_issue.partial_index_template %}
    {% endwith %}
{% empty %}
    <!-- empty list -->
    <p>Nothing has been declared in this category yet. <a href="/issues/manage">Maybe you can be the first?</a></p>
{% endfor %}

<br style="clear:both">

{% endblock %}